{% extends "base.html" %}
{% block title %}Resource Catalog - Project Well-Z{% endblock %}

{% block content %}
<style>
	#map {
		margin-top:10%;
	}
</style>
<iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d86094.8241829074!2d-122.29465365471475!3d47.59768120833214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54906bcfa3a66041%3A0xbacf5482ead00765!2sBellevue%2C%20WA!5e0!3m2!1sen!2sus!4v1657349731147!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}
